@font-face {
  font-family: 'League Spartan';
  src: url("misc/leaguespartan-bold.eot");
  src: url("misc/leaguespartan-bold.eot?#iefix") format('embedded-opentype'), url("misc/leaguespartan-bold.woff2") format('woff2'), url("misc/leaguespartan-bold.woff") format('woff'), url("misc/leaguespartan-bold.ttf") format('truetype'), url("misc/leaguespartan-bold.svg#league_spartanbold") format('svg');
  font-weight: bold;
  font-style: normal;
}

#instafeed {
}

.btn_insta {
  padding: 4%;
  margin: 1%;
  border-radius: 15%;
  font-size: 1em;
  color: white;
  border: 0;
  box-shadow: none;
  background: #ff7700;
  background: #ff7700;
  position: relative;
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         5px;
}
.btn_insta:before {
   content:"";
   position: absolute;
   top: 100%;
   bottom: 0px;
   left: 15px;
   width: 0;
   height: 0;
   border-left: 10px solid transparent;
   border-right: 10px solid transparent;
   border-top: 10px solid #ff7700;
}

.big_block.instafeed {
  position: relative;
  width: 100%;
  color: #fff;
  background-color: #ff0000;
  height: 280px;
  overflow: hidden;
}

.big_block.instafeed .content {
  padding-left: 2%;
  padding-top: 2%;
  float: inherit;
  position: relative;
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.big_block.instafeed .content a {
  color: #000;
  text-decoration: none;
}

.div-insta-item {
position: relative;
float: inherit;
text-align: center;
padding-right: 1%;
padding-left: 1%;
padding-bottom: 30%;
overflow: hidden;
}

a.polaroid {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 10px 10px 20px 10px;
    width: 150px;
    border: 1px solid #BFBFBF;
    background-color: #ffffff;
    z-index: 2;
    font-size: 0.7em;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transition: -webkit-transform 0.5s ease-in;
}

a.polaroid:hover, a.polaroid:focus, a.polaroid:active {
    z-index: 999;
    border-color: #6A6A6A;
    -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
}

.img-insta {
float: none;
}

.img-circle {
  border-radius: 10%;
  height: 80%;
  width: 80%;
}

.check_box:not(:checked),
.check_box:checked {
  position: absolute;
  left: -9999px;
}
.check_box:not(:checked) + label,
.check_box:checked + label {
  position: relative;
  color: #fff;
  font-size: 12px;
  padding-left: 25px;
  cursor: pointer;
}
.check_box:not(:checked) + label span,
.check_box:checked + label span {
  position: relative;
  top: 4px;
}
.check_box:not(:checked) + label:before,
.check_box:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
  border: 2px solid #e1e1e1;
  background-color: #f8f8f8;
  border-radius: 3px;
  -webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
  transition: border-color 0.2s ease, background-color 0.2s ease;
}
.check_box:not(:checked) + label:after,
.check_box:checked + label:after {
  content: "?";
  position: absolute;
  top: 7px;
  left: 4px;
  text-align: center;
  font-size: 11px;
  line-height: 0.8;
  color: #fff;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.3s ease, -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1), opacity 0.3s ease;
  transition: transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1), opacity 0.3s ease, -webkit-transform 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.check_box:not(:checked):hover + label:before,
.check_box:checked:hover + label:before {
  border-color: #65d8b9;
}
.check_box:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}
.check_box:checked + label:before {
  background-color: #65d8b9;
  border-color: #65d8b9;
}
.check_box:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
body {
  width: 100%;
  height: 100%;
  font-family: 'League Spartan', sans-serif;
  text-shadow: 2px 2px 5px #000000;
  line-height: 1.2;
  /*background-color: #363c5c;*/
  /*background-color: #98eb3e;*/
  background-color: #ffffff;
}
::-moz-selection {
  background: #999;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #999;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection {
  background: #999;
  color: #fff;
  text-shadow: none;
}
.food_cta {
  display: inline-block;
  padding: 11px 28px;
  letter-spacing: 1px;
  position: relative;
  border: 0;
  border-radius: 1.4em;
  color: #fff;
  cursor: pointer;
}
.food_cta:focus {
  outline: none;
}
.nav_bar {
  width: 88%;
  max-width: 1024px;
  /*margin: 70px auto 0 auto;*/
  margin: 20px auto 0 auto;
  color: #b0b3c4;
  /*padding-bottom: 38px;*/
  padding-bottom: 10px;
}
.nav_bar:before,
.nav_bar:after {
  content: "";
  display: table;
}
.nav_bar:after {
  clear: both;
}
.nav_bar .nav_logo {
  width: 150px;
  float: left;
  /*cursor: pointer;*/
}
.nav_bar .nav_logo span {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}
.nav_bar .nav_logo #fork,
.nav_bar .nav_logo #knife {
  -webkit-transform: rotate(0deg) translateX(0);
          transform: rotate(0deg) translateX(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: all 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.nav_bar .nav_logo #fork path,
.nav_bar .nav_logo #knife path {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.nav_bar .nav_logo:hover #fork {
  -webkit-transform: rotate(30deg) translateX(30px);
          transform: rotate(30deg) translateX(30px);
}
.nav_bar .nav_logo:hover #fork path {
  fill: #fff;
}
.nav_bar .nav_logo:hover #knife {
  -webkit-transform: rotate(-30deg) translateX(-30px);
          transform: rotate(-30deg) translateX(-30px);
}
.nav_bar .nav_logo:hover #knife path {
  fill: #fff;
}
.nav_bar .nav_toggle {
  float: right;
  cursor: pointer;
  overflow: hidden;
  padding: 15px 0;
}
.nav_bar .nav_toggle .toggle_name {
  padding-left: 9px;
  font-size: 11px;
  position: relative;
  left: 0;
  color: #b0b3c4;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: color 0.25s ease, left 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: color 0.25s ease, left 0.2s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.nav_bar .nav_toggle .toggle_name.is-open {
  left: 100px;
}
.nav_bar .nav_toggle .hamb_toggle {
  width: 25px;
  height: 14px;
  position: relative;
  display: inline-block;
  margin: 0;
}
.nav_bar .nav_toggle .hamb_toggle .line {
  display: block;
  background: #b0b3c4;
  width: 25px;
  height: 2px;
  position: absolute;
  left: 0;
  border-radius: 1px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.nav_bar .nav_toggle .hamb_toggle .line.line-1 {
  top: 0;
}
.nav_bar .nav_toggle .hamb_toggle .line.line-2 {
  top: 50%;
}
.nav_bar .nav_toggle .hamb_toggle .line.line-3 {
  top: 100%;
}
.nav_bar .nav_toggle .hamb_toggle:hover .line-1,
.nav_bar .nav_toggle .hamb_toggle:focus .line-1 {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
}
.nav_bar .nav_toggle .hamb_toggle:hover .line-3,
.nav_bar .nav_toggle .hamb_toggle:focus .line-3 {
  -webkit-transform: translateY(1px);
          transform: translateY(1px);
}
.nav_bar .nav_toggle .hamb_toggle.is-open .line-1 {
  -webkit-transform: translateY(7px) translateX(0) rotate(45deg);
          transform: translateY(7px) translateX(0) rotate(45deg);
}
.nav_bar .nav_toggle .hamb_toggle.is-open .line-2 {
  opacity: 0;
}
.nav_bar .nav_toggle .hamb_toggle.is-open .line-3 {
  -webkit-transform: translateY(-7px) translateX(0) rotate(-45deg);
          transform: translateY(-7px) translateX(0) rotate(-45deg);
}
.nav_bar .nav_toggle .hamb_toggle.is-open:hover .line {
  background: #fff;
}
.nav_bar:hover .toggle_name {
  color: #fff;
}
.nav_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  height: 100%;
  z-index: 10;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.nav_overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 50%;
  height: 100%;
  background-color: #363c5c;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1), opacity 0.25s ease-in-out;
  transition: transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1), opacity 0.25s ease-in-out, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.nav_overlay:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
  width: 51%;
  height: 100%;
  background-color: #363c5c;
  -webkit-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: opacity 0.25s ease-in-out, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: opacity 0.25s ease-in-out, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1), opacity 0.25s ease-in-out;
  transition: transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1), opacity 0.25s ease-in-out, -webkit-transform 0.4s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.nav_overlay .fix_top {
  position: fixed;
  bottom: 40px;
  right: 80px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 101;
}
.nav_overlay .fix_top svg {
  width: 50px;
  height: 50px;
}
.nav_overlay .fix_top svg path {
  fill: #fff;
}
.nav_overlay .fix_top:hover {
  bottom: 45px;
}
.nav_overlay .overlay_menu {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  z-index: 100;
}
.nav_overlay .overlay_menu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.nav_overlay .overlay_menu ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.nav_overlay .overlay_menu ul li a {
  display: block;
  position: relative;
  color: #fff;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.25s ease;
  transition: -webkit-transform 0.25s ease;
  transition: transform 0.25s ease;
  transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
.nav_overlay .overlay_menu ul li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0.6em;
  content: "";
  display: block;
  height: 9px;
  left: 0;
  width: 100%;
  position: absolute;
  background: rgba(11,196,217,0.8);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
  transition: transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1), -webkit-transform 0.3s cubic-bezier(0.694, 0.048, 0.335, 1);
}
.nav_overlay .overlay_menu ul li a:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}
.nav_overlay .overlay_menu ul li a:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.nav_overlay .overlay_menu ul li:nth-child(2) a:after {
  background: rgba(217,93,79,0.8);
}
.nav_overlay .overlay_menu ul li:nth-child(3) a:after {
  background: rgba(233,208,57,0.8);
}
.nav_overlay .overlay_menu ul li:last-child a:after {
  background: rgba(99,111,230,0.8);
}
.nav_overlay.is-open {
  visibility: visible;
  opacity: 0.8;
}
.nav_overlay.is-open:before,
.nav_overlay.is-open:after {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}
.nav_overlay.is-open .overlay_menu ul li {
  -webkit-animation: fadeInRight 0.55s ease forwards;
          animation: fadeInRight 0.55s ease forwards;
  -webkit-animation-delay: 0.35s;
          animation-delay: 0.35s;
}
.nav_overlay.is-open .overlay_menu ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.45s;
          animation-delay: 0.45s;
}
.nav_overlay.is-open .overlay_menu ul li:nth-of-type(3) {
  -webkit-animation-delay: 0.55s;
          animation-delay: 0.55s;
}
.nav_overlay.is-open .overlay_menu ul li:nth-of-type(4) {
  -webkit-animation-delay: 0.65s;
          animation-delay: 0.65s;
}
.blocks_container {
  width: 88%;
  max-width: 1024px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 50px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 8px 21px 0px rgba(50,50,50,0.5);
  min-height: 30vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.blocks_container:before,
.blocks_container:after {
  content: "";
  display: table;
}
.blocks_container:after {
  clear: both;
}
.blocks_container:hover {
  box-shadow: 0px 11px 48px 0px rgba(50,50,50,0.5);
}
.big_block,
.medium_block,
.small_block,
.last_medium_block {
  float: left;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.big_block:before,
.medium_block:before,
.small_block:before,
.last_medium_block:before,
.big_block:after,
.medium_block:after,
.small_block:after,
.last_medium_block:after {
  content: "";
  display: table;
}
.big_block:after,
.medium_block:after,
.small_block:after,
.last_medium_block:after {
  clear: both;
}
.big_block {
  width: 100%;
  height: 420px;
}
.big_block .block_content {
  float: right;
  width: 60%;
  text-align: right;
  padding-right: 35px;
  color: #fff;
}
.big_block .block_content h2 {
  font-size: 48px;
  margin-bottom: 0;
}
.big_block .block_content h2:before,
.big_block .block_content h2:after {
  content: "";
  display: table;
}
.big_block .block_content h2:after {
  clear: both;
}
.big_block .block_content h4 {
  font-size: 21px;
  width: 76%;
  float: right;
  font-weight: 300;
  font-family: 'Old Standard TT', serif;
}
.big_block .block_content h4:before,
.big_block .block_content h4:after {
  content: "";
  display: table;
}
.big_block .block_content h4:after {
  clear: both;
}
.big_block .block_content .food_cta {
  background-color: #e9d039;
}
.middle_block_container {
  width: 100%;
  height: 600px;
}
.middle_block_container:before,
.middle_block_container:after {
  content: "";
  display: table;
}
.middle_block_container:after {
  clear: both;
}
.middle_block_container .b_half {
  height: 100%;
  float: left;
}
.middle_block_container .b_half:before,
.middle_block_container .b_half:after {
  content: "";
  display: table;
}
.middle_block_container .b_half:after {
  clear: both;
}
.middle_block_container .b_half:first-child {
  width: 40%;
}
.middle_block_container .b_half:last-child {
  width: 60%;
}
.medium_block {
  width: 100%;
  height: 320px;
}
.medium_block.peas .block_content {
  position: absolute;
  width: 60%;
  margin: 0;
  top: 20px;
  right: 30px;
  text-align: right;
  color: #fff;
  padding: 10px 20px;
}
.medium_block.peas .block_content h2 {
  font-size: 40px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 7px;
}
.medium_block.peas .block_content h4 {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
  font-family: 'Old Standard TT', serif;
}
.medium_block.peas .block_content .food_cta {
  background-color: #3e67c9;
  font-size: 13px;
  padding: 9px 24px;
  margin-top: 17px;
}
.medium_block.medium_tall {
  height: 600px;
}
.medium_block.medium_tall .block_content {
  position: absolute;
  text-align: center;
  width: 90%;
  margin: 0 auto;
  bottom: 60px;
  left: 0;
  color: #fff;
  padding: 10px 20px;
}
.medium_block.medium_tall .block_content h2 {
  font-size: 30px;
  line-height: 1.5;
  margin-bottom: 0;
}
.medium_block.medium_tall .block_content h4 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 0;
  font-family: 'Old Standard TT', serif;
}
.medium_block.medium_tall .block_content .food_cta {
  font-size: 13px;
  padding: 10px 16px;
  background-color: #4b1a3a;
}
.small_block {
  width: 50%;
  height: 280px;
}
.small_block .small_block_container {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.small_block .small_block_container h2 {
  color: #fff;
  font-size: 17px;
  padding: 0 11px;
}
.small_block .small_block_container .food_cta {
  background-color: #d95d4f;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  text-align: center;
}
.small_block .small_block_container .food_cta svg {
  width: 40px;
  height: 25px;
  position: relative;
  top: 7px;
  left: 1px;
}
.small_block .small_block_container .food_cta svg path {
  fill: #fff;
}
.small_block.recipe {
  /*background-color: #636fe6;*/
  background-color: #ffd35d;
}
.small_block.recipe .recipe_container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  padding: 0 10px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}
.small_block.recipe .recipe_container h2 {
  font-family: 'Old Standard TT', serif;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}
.small_block.recipe .recipe_container .check_container {
  margin: 10px auto 25px auto;
}
.small_block.recipe .food_cta {
  background-color: #65d8b9;
  padding: 9px 23px;
  font-size: 12px;
}
.food_input {
  width: 70%;
  margin: 10px auto;
  border: 0;
  font-size: 13px;
  background: none;
  background-color: #fff;
  padding: 6px 10px;
  border-radius: 1.3em;
  color: #414354;
}
.food_input::-webkit-input-placeholder {
  color: #9b9db1;
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 4px;
}
.food_input:-moz-placeholder {
  color: #9b9db1;
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 4px;
}
.food_input::-moz-placeholder {
  color: #9b9db1;
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 4px;
}
.food_input:-ms-input-placeholder {
  color: #9b9db1;
  font-size: 11px;
  text-align: center;
  position: relative;
  top: 4px;
}
.food_input:focus {
  outline: none;
}
.last_blocks_container {
  width: 100%;
  height: 420px;
}
.last_blocks_container:before,
.last_blocks_container:after {
  content: "";
  display: table;
}
.last_blocks_container:after {
  clear: both;
}
.last_blocks_container .last_half {
  height: 100%;
  float: left;
}
.last_blocks_container .last_half:before,
.last_blocks_container .last_half:after {
  content: "";
  display: table;
}
.last_blocks_container .last_half:after {
  clear: both;
}
.last_blocks_container .last_half:first-child {
  width: 70%;
}
.last_blocks_container .last_half:last-child {
  width: 30%;
}
.last_medium_block {
  width: 100%;
  height: 100%;
}
.last_medium_block .lmb_content {
  position: absolute;
  top: 20px;
  left: 35px;
}
.last_medium_block .lmb_content h2 {
  font-size: 40px;
  /*color: #5d5f81;*/
  color: #ffffff;
  margin-bottom: 7px;
}
.last_medium_block .lmb_content h4 {
  font-size: 30px;
  /*color: #5d5f81;*/
  color: #ffffff;
  font-weight: 300;
  margin: 0;
  line-height: 1.5;
  font-family: 'Old Standard TT', serif;
}
.last_medium_block .lmb_content .food_cta {
  background-color: #d95d4f;
  font-size: 13px;
  padding: 9px 24px;
  margin-top: 17px;
}
.small_social {
  width: 100%;
  height: 50%;
  position: relative;
}
.small_social .sms_content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.small_social .sms_content .sms_ill {
  text-align: center;
}
.small_social .sms_content .sms_ill svg {
  width: 35px;
  height: 50px;
}
.small_social .sms_content .sms_ill svg path {
  fill: #fff;
}
.small_social .sms_content .food_cta {
  margin-top: 8px;
}
.small_social.fb {
  /*background-color: #3e5a9a;*/
  background-color: #bf8352;
}
.small_social.fb .food_cta {
  /*background-color: #5b79b8;*/
  background-color: #cd9f78;
}
.small_social.twitter {
  /*background-color: #00b1ed;*/
  background-color: #ff0000;
}
.small_social.twitter .food_cta {
  /*background-color: #72c8e6;*/
  background-color: #ff4c4c;
}
.footer {
  color: #b0b3c4;
  font-size: 12px;
  text-align: center;
  padding-bottom: 50px;
  -webkit-transition: letter-spacing 0.35s ease;
  transition: letter-spacing 0.35s ease;
}
.footer:hover {
  letter-spacing: 2px;
}
@media only screen and (max-width: 766px) {
  .nav_overlay .overlay_menu {
    height: 80%;
    font-size: 30px;
  }
  .nav_overlay .overlay_menu ul li {
    height: 18%;
    height: calc(100% / 10);
  }
  .middle_block_container {
    height: 500px;
  }
  .middle_block_container .b_half:first-child,
  .middle_block_container .b_half:last-child {
    width: 100%;
    height: auto;
  }
  .middle_block_container .b_half .medium_block {
    height: 320px;
  }
  .last_blocks_container {
    height: 500px;
  }
  .last_blocks_container .last_half:first-child,
  .last_blocks_container .last_half:last-child {
    width: 100%;
    height: auto;
  }
  .last_blocks_container .last_half .last_medium_block {
    width: 100%;
    height: 320px;
  }
  .last_blocks_container .last_half .small_social {
    float: left;
    width: 50%;
    height: 220px;
  }
}
@media only screen and (max-width: 495px) {
  .big_block .block_content h2 {
    font-size: 35px;
  }
  .big_block .block_content h4 {
    font-size: 18px;
  }
  .medium_block {
    width: 100%;
    height: 320px;
  }
  .medium_block.peas .block_content h2 {
    font-size: 34px;
  }
  .medium_block.peas .block_content h4 {
    font-size: 23px;
  }
  .medium_block.medium_tall .block_content h2 {
    font-size: 27px;
  }
  .medium_block.medium_tall .block_content h4 {
    font-size: 19px;
  }
  .small_block {
    width: 100%;
  }
  .last_blocks_container .last_half .last_medium_block .lmb_content h2 {
    font-size: 30px;
  }
  .last_blocks_container .last_half .last_medium_block .lmb_content h4 {
    font-size: 20px;
  }
  .last_blocks_container .last_half .small_social {
    width: 100%;
  }
}
@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
